{extend name="public/common"}
{block name="body"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>讲师id</th>
        <th>讲师名称</th>
        <th>讲师照片</th>
        <th>讲师分类</th>
        <th>个人简历</th>
        <th>讲课风格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $k=>$v}
    <tr>
        <td>{$v.lect_id}</td>
        <td>{$v.lect_name}</td>
        <td><img src="/uploads/{$v.lect_image}" width="100" height="100"></td>
        <td>{$v.cate_name}</td>
        <td>{$v.lect_resume}</td>
        <td>{$v.lect_style}</td>
        <td>
            <button type="button" class="layui-btn layui-btn-normal edit" value="{$v.lect_id}">修改</button>
            <button type="button" class="layui-btn layui-btn-normal del" value="{$v.lect_id}">删除</button>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    $(document).on("click",".edit",function(){
        var id =$(this).val();
        location.href="/index/lect/edit?id="+id;
    })
    $(document).on("click",".del",function(){
        var id =$(this).val();
        location.href="/index/lect/delete?id="+id;
    })
</script>
{/block}