{extend name="public/common"}
{block name="body"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名称</label>
        <div class="layui-input-block">
            <input type="text" id="admin_name" name="admin_name" required  lay-verify="required"  placeholder="请输入名称" value="{$data.admin_name}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" nrequired lay-verify="required" id="pwd" name="pwd" placeholder="请输入密码" value="{$data.password}"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input type="password" required lay-verify="required"id="pwd2" name="pwd2" placeholder="请确认密码" autocomplete="off" class="layui-input">
        </div><input type="hidden" name="admin_id" id="admin_id" value="{$data.admin_id}">
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="but" lay-submit lay-filter="formDemo">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('#but').bind('click',function(){
            var admin_name=$("#admin_name").val();
            var id=$("#admin_id").val();
            var pwd=$("#pwd").val();
            var pwd2=$("#pwd2").val();
//            layer.alert(admin_name);
//            alert(pwd);
//            alert(pwd2);
            if(pwd!==pwd2){
                alert("密码不一致");
                return false;
            }
            $.ajax({
                url:"/index/user/update",
                type:'post',
                dataType:'json',
                data:{'admin_name':admin_name,'pwd':pwd,'id':id},
                success:function(res){
                    if(res.error==200){
                        location.href="/index/user/index";
                    }else{
                        layer.alert(res.msg);
                    }

                }
            })
        });
    })
</script>
{/block}
