{extend name="public/common"}
{block name="body"}
<form  class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">题标题</label>
        <div class="layui-input-block">
            <input type="text" name="bank_title" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">题类型</label>
        <div class="layui-input-block">
            <input type="radio" name="bank_type" value="1" title="单选" checked>
            <input type="radio" name="bank_type" value="2" title="多选" >
            <input type="radio" name="bank_type" value="3" title="简答" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">题分类</label>
        <div class="layui-input-block">
            <select name="cla_id" id="bank_cate" lay-verify="required">
                <option value="0" selected>--请选择--</option>
                {foreach $cla_info as $k=>$v}
                <option value="{$v['cla_id']}">{$v['cla_name']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">题内容</label>
        <div class="layui-input-block">
            <textarea name="bank_content" id="content" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $(document).on("click",".btn",function(){
        var bank_title=$("input[name='bank_title']").val();
        var bank_type=$("input[name='bank_type']:checked").val();
        var cla_id=$("#bank_cate").find('option:selected').val();
        var bank_content=$("#content").val();

        $.ajax({
            type:"post",
            dataType:"json",
            data:{bank_title:bank_title,bank_type:bank_type,cla_id:cla_id,bank_content:bank_content},
            url:"save",
            success:function(res){
                if(res.code==200){
                    layer.msg(res.msg)
                    location.href="index";
                }else{
                    layer.alert(res.msg)
                }
            }
        })
        return false;
    })
</script>
{/block}
