{extend name="public/common"}
{block name="body"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>题库id</th>
        <th>题标题</th>
        <th>题分类</th>
        <th>题内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>储赢</td>
        <td>题分类</td>
        <td>题内容</td>
        <td>
            <button type="button" class="layui-btn layui-btn-normal">删除</button>
            <button type="button" class="layui-btn layui-btn-normal edit">修改</button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    $(document).on("click",".edit",function(){
        location.href="/index/question/edit?id=1";
    })
</script>
{/block}