<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a class="" href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/user/create">用户添加</a></dd>
                    <dd><a href="/index/user/index">用户列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">权限管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/based/create">权限添加</a></dd>
                    <dd><a href="/index/based/index">权限列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">角色管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/role/create">角色添加</a></dd>
                    <dd><a href="/index/role/index">角色列表</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">课程管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/course/create">课程添加</a></dd>
                    <dd><a href="/index/course/index">课程列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">资讯管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/message/create">资讯添加</a></dd>
                    <dd><a href="/index/message/index">资讯列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">讲师管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/lect/create">讲师添加</a></dd>
                    <dd><a href="/index/lect/index">讲师列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">题库管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/question/create">题目添加</a></dd>
                    <dd><a href="/index/question/index">题目列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">问答管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/answer/index">问答列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">课程分类管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/category/create">课程分类添加</a></dd>
                    <dd><a href="/index/category/index">课程分类列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">题库分类管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/index/classification/create">题库分类添加</a></dd>
                    <dd><a href="/index/classification/index">题库分类列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="layui-body">

    <!-- 内容主体区域 -->
    <div style="padding: 15px;">