{extend name="public/common"}
{block name="body"}
<form  method="post" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="cate_name" value="{$data.cate_name}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                <input type="hidden" name="cate_id" id="cate_id" value="{$cate_id}">
            </div>
        </div>
        <label class="layui-form-label">父级id</label>
        <div class="layui-input-block">
            <select name="p_id" lay-verify="required" id="p_id">
                <option value="0">{:str_repeat("&nbsp;&nbsp;&nbsp;",3)}顶级分类</option>
                {volist name="CateInfo" id="v"}
                <option value="{$v.cate_id}" {$data.p_id==$v['cate_id']?'selected':''}>{:str_repeat("&nbsp;&nbsp;&nbsp;",$v.level*3)}{$v.cate_name}</option>
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn" lay-submit lay-filter="formDemo" id="button">立即修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $(document).on('click','#button',function(){
        var cate_name = $('input[name="cate_name"]').val();
        var p_id = $("#p_id").val();
        var cate_id=$('#cate_id').val();
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/index/category/update",
            data:{cate_name:cate_name,p_id:p_id,cate_id:cate_id},
            success:function(res){
                if(res.code==1){
                    layer.msg(res.msg)
                    location.href='/index/category/index'
                }
                if(res.code==2){
                    alert(res.msg)
                }
            }
        })
        return false;
    })
</script>
{/block}
