{extend name="public/common"}
{block name="body"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" required id="role_name"  value="{$data.role_name}" lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
        </div><input type="hidden" id="role_id" name="role_id" value="{$data.role_id}">
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="but">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('#but').bind('click',function(){
            var role_name=$("#role_name").val();
            var role_id=$("#role_id").val();

            $.ajax({
                url:"/index/role/update",
                type:'post',
                dataType:'json',
                data:{'role_name':role_name,'role_id':role_id},
                success:function(res){
                    if(res.error==200){
                        location.href="/index/role/index";
                    }else{
                        layer.alert(res.msg);
                    }

                }
            })
        });
    })
</script>
{/block}