<!--{extend name="public/common"}-->
{block name="body"}
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">题库分类名</label>
        <div class="layui-input-block">
            <input type="text" name="cla_name" required  lay-verify="required" placeholder="请输入题库分类名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn" id="btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    $(document).on("click","#btn",function(){
        var cla_name=$("input[name='cla_name']").val();
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/index/classification/save",
            data:{cla_name:cla_name},
            success:function(res){
                if(res.code=200){
                    layer.msg(res.msg);
                        location.href="index";
                }else{
                    layer.alert(res.msg)
                }
            }
        })
        return false;
    })
</script>
{/block}
