{extend name="public/common"}
{block name="body"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>题库分类id</th>
        <th>题库分类名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $cla_info as $k=>$v}
    <tr cla_id={$v.cla_id}>
        <td>{$v.cla_id}</td>
        <td>{$v.cla_name}</td>
        <td>
            <button type="button" class="layui-btn layui-btn-normal del">删除</button>
            <button type="button" class="layui-btn layui-btn-normal edit">修改</button>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    $(document).on("click",".del",function(){
        var cla_id=$(this).parents('tr').attr('cla_id');
        $.ajax({
            type:"post",
            dataType:"json",
            url:"delete",
            data:{cla_id:cla_id},
            success:function(res){
                if(res.code=200){
                    layer.msg(res.msg);
                    location.href="index";
                }else{
                    layer.alert(res.msg)
                }
            }
        })
    })
    $(document).on("click",".edit",function(){
        var cla_id=$(this).parents("tr").attr("cla_id")
        location.href="/index/classification/edit?cla_id="+cla_id;
    })
</script>
{/block}