{extend name="public/common"}
{block name="body"}
<form  method="post" class="layui-form" action="save">
    <div class="layui-form-item">
        <label class="layui-form-label">资讯标题</label>
        <div class="layui-input-block">
            <input type="text" name="message_title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否热门</label>
        <div class="layui-input-block">
            <input type="radio" name="is_hut" value="1" title="热门" checked>
            <input type="radio" name="is_hut" value="2" title="非热门" >
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">标题内容</label>
        <div class="layui-input-block">
            <textarea name="message_name" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
