{extend name="public/common"}
{block name="body"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>课程id</th>
        <th>课程名称</th>
        <th>父级分类</th>
        <th>讲师选择</th>
        <th>课程分类</th>
        <th>课程图片</th>
        <th>课程简介</th>
        <th>课程公告</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>储赢</td>
        <td>
            <button type="button" class="layui-btn layui-btn-normal">删除</button>
            <button type="button" class="layui-btn layui-btn-normal edit">修改</button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    $(document).on("click",".edit",function(){
        location.href="/index/course/edit?id=1";
    })
</script>
{/block}