{extend name="public/common"}
{block name="body"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>问题id</th>
        <th>用户名称</th>
        <th>标题</th>
        <th>问题内容</th>
        <th>问题浏览量</th>
        <th>回答内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $v}
    <tr>
        <td>{$v.issue_id}</td>
        <td>{$v.user_name}</td>
        <td>{$v.issue_title}</td>
        <td>{$v.issue_name}</td>
        <td>{$v.issue_browse}</td>
        <td></td>
        <td>
            <button type="button" class="layui-btn layui-btn-normal del" value="{$v.issue_id}">删除</button>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    $(document).on("click",".del",function(){
        var id =$(this).val();
        location.href="/index/issue/delete?id="+id;
    })
</script>
{/block}
